@{
    ViewBag.Title = "About";
}
<h2>Асоціація кролиководів Ужгородщини</h2>


<p> Кролівництво – одна з галузей тваринництва на Україні, яка з кожним роком стає популярнішою і затребуваною. Закарпаття – не виняток. 
    Це одна з областей,  де історично - розведення кролів є улюбленою справою людей. Численні приватні господарства радують око різноманітністю порід, 
    які ще кілька десятків років були диковинкою . Географічне положення краю сприяє поїздкам на європейські клубні і федеральні виставки, 
    а також співпраці з майстрами кролівництва Словаччини, Угорщини, Австрії та Німеччини, що відіграє неабияку роль у правильній організації 
    роботи наших кролівників і якості поголів’я.
</p>
<p>
    Так у 2010 році на Закарпатті було засновано перший в Україні клуб Асоціацію кролівників Ужгородщини» (U-7). 
    Метою організації є залучення як досвідчених, так і молодих кролівників до спільної цілеспрямованої  співпраці у кролівництві. 
    Традиційно, один раз на місяць  проводяться збори, де розглядаються питання щодо збалансованої годівлі кролів, щеплення, 
    профілактики та ефективного лікування хвороб і, найголовніше, правильного розуміння усієї справи. На сьогоднішній членами клубу є 27 кролівників.
</p>
<p>
    Як результат  кропіткої і наполегливої роботи упродовж року є клубна виставка, що відбувається  у листопаді, де представляються основні 
    здобутки кролівництва. Незалежна оцінка експертів-суддів зі Словаччини допомагає визначити переваги та вказати на недоліки у екстер’єрі кролика, 
    якості хутра і перспективи розвитку племінної роботи.
</p>
<p>
    Ми запрошуємо всіх кролівників України до тісного спілкування, обміну досвідом та співпраці у цій нелегкій, але цікавій і важливій справі.
</p>
<p>
    Голова асоціації Юрій Поляк.
</p>