
@{
    ViewBag.Title = "Member";
}

<h2>Члени Ужгорожського клубу</h2>
<div>
    <table>
        <tr>
            <td><p>Прізвище, імя, по-батькові</p></td>
            <td><p>Номер в клубі</p></td>
        </tr>
        @foreach (var b in ViewBag.Members)
        {
            <tr>
                <td><p>@b.MemberName</p></td>
                <td><p>@b.MemberNumber</p></td>
            </tr>
        }
    </table>
</div>

