
@{
    ViewBag.Title = "Member";
}


<h2>Члени Ужгорожського клубу</h2>
<div id="membrow">

                @foreach (var b in ViewBag.Members)
                {
                    <div >
                        <div id="membcol">
                            <p>Прізвище, імя, по-батькові</p>
                            <p>@b.MemberName</p>
                            <p>Номер в клубі</p>
                            <p>@b.MemberNumber</p>
                        </div>
                    </div>
                }

</div>


